~*
.idea/**/dataSources.xml
.idea/**/deployment.xml
.idea/**/webServers.xml
.idea/**/workspace.xml
.idea/**/dataSources
.idea/**/httpRequests
/src/**/*.js
/src/**/*.css
/src.lib/**/*.js
/src.lib/**/*.css
/components
/dist
/node_modules
/tests/_output
/vendor
.DS_Store
Thumbs.db
composer.phar
composer.lock
package-lock.json 
!.gitignore
